@mixin woltFontHeader() {
    @include woltFont(1.5rem, 700);
}
@mixin woltFontSubHeader() {
    @include woltFont(1rem, 500);
}
@mixin woltFontText() {
    @include woltFont(1rem, 400);
}
@mixin woltFontLabel() {
    @include woltFont(.75rem, 700);
}

@mixin woltFont($fontSize, $font-weight) {
    font-size: $fontSize;
    font-weight: $font-weight;
}