@import '../../sass/colors';
@import '../../sass/font';
@import '../../sass/mixins';

.opening__hours {
	&__card {
		padding: 0 2rem;
		.ant-card {
			&-head {
				padding: 0;
				border-bottom: 0.1rem solid $wolt-black;
				&-title {
					i {
						margin-right: 0.5rem;
					}
					@include woltFontHeader;
				}
            }
            &-body {
                padding: 0;
            }
		}
    }
    &__item {
        padding: .5rem 0;
        border-bottom: .1rem solid wolt_grey_light;
        @include flexLayout($justifyContent: space-between)
    }
    &__today {
        color: $wolt-green;
        margin-left: .5rem;
    }
    &__day {
        @include woltFontSubHeader;
        color: $wolt-black;
    }
}
