@import "../../sass/_colors";

.wolt {
    .logo {
        font-size: 2rem;
        color: $wolt_white;
    }
    header {
        position: fixed;
        z-index: 400;
        width: 100%;
    }
    main {
        margin-top: 4rem;
        height: calc(100vh - 8rem);
    }
    > aside.ant-layout-sider {
        min-width: 30rem !important;
    }
    footer {
        summary {
            text-align: center;
        }
    }
}